li{
  list-style-type: none;
}

.food-app-header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px;
}

.nav-bar{
  padding: 10px;
}


.nav-bar-list{
  margin-left: -150px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
}

.nav-bar-list li{
  margin-top: 15px;
}

.side{
  margin-left: 200px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.side button{
  border-radius: 50px;
}

.showcase{
  background: rgb(250, 204, 197) ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
  height: 60vh;
  border-radius: 20px;
}

.showcase-title{
  padding: 100px;
}

.showcase-image img{
  height: 60vh;
  width: 100%;
  border-radius: 0px 20px 20px 0px;
}
.side-bar{
  margin: 50px;
  width: 500px;
}

.filter{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.filter-items{
  margin-left: -40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.filter-items-list-2{
  margin-left: -20px;
}

.filter-items-listing ul li{
  margin-bottom: 10px;
}

.main-items{
  margin-top: -280px;
  margin-left: 500px;
}

.search{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dropdown{
  float: right;
  margin-right: 50px;
}

input[type=text] {
  border-radius: 10px;
}

.dropdown button{
  border-radius: 50px;
}

.items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card{
  margin-top: 45px;
  width: 18rem;
  border: none;
}

.card img{
  border-radius: 20px;
  height: 150px;
}

.card-body{
  margin-left: -13px;
}

.rating{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.author{
  margin-left: 70px;
  font-size: 12px;
}